.logo {
	position: relative;
	width: 150px;
	height: 150px;
	margin-left: 20px;
}

.logo p {
	color: white;
	position: absolute;
	width: 50%;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}

p {
	padding-top: 20px;
}

.demo {
	margin-left: 46%;
	margin-top: 40px !important;
}

.logo:before {
	content: "";
	position: absolute;
	width: 50%;
	height: 50%;
	border:none;
	border-top: 3px solid #F0AD4E;
	border-bottom: 3px solid #F0AD4E;
	box-sizing: border-box;
	transform: scaleX(0);
	transition: 0.5s;
}

.logo:hover:before {

transform: scaleX(1);
transition-delay: 0.5s;
}

.logo:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	border:none;
	border-right: 3px solid #F0AD4E;
	border-left: 3px solid #F0AD4E;
	box-sizing: border-box;
	transform: scaleY(0);
	transition: 0.5s;
}

.logo:hover:after {

transform: scaleY(1);
}

.logo span.border {
	position: absolute;
	width: 50%;
	height: 50%;
	display: block;
	transform: rotate(45deg);
	pointer-events: none;
	

}

.logo span.border:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border:none;
	border-top: 2px solid #F0AD4E;
	border-bottom: 2px solid #F0AD4E;
	box-sizing: border-box;
	transform: scaleX(0);
	transition: 0.5s;
}

.logo:hover span.border:before {

transform: scaleX(1);
transition-delay: 1s;
}

.logo span.border:after  {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border:none;
	border-right: 2px solid #F0AD4E;
	border-left: 2px solid #F0AD4E;
	box-sizing: border-box;
	transform: scaleY(0);
	transition: 0.5s;
}

.logo:hover span.border:after {

transform: scaleY(1);
transition-delay: 1.5s;

}

/*@media only screen and (max-width: 700px) {
   			.demo {
 		margin-right: 40%;
}
@media only screen and (max-width: 600px) {
  .demo {
    margin-right: 60px;
 
}
@media only screen and (max-width: 375px) {
  .demo {
    margin-right: 80px !important;
 
}*/